body{
	padding: 0;
	margin: 0;
} 
.div1{
	width: 100%;
	height: 40px;
	font-size: 18px;
    background:#10a2cd;
    font-weight: bold;
	color: #ffffff;
	font-family:  "新宋体";
}
.div11{
	float: left;
	width:20%;
	height: 40px;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	line-height: 40px;
	 font-family:  "新宋体";
}
.div12{
	float: left;
	width:60%;
	height: 100%;
}
.div13{
	float: left;
	width:20%;
	height: 100%;

}
.add-button{
	background:  url(../img/Add.png) no-repeat;
	background-position:center center;
	height:40px;
	width:40px;
	border: none;
	float:right;
}
.div2{
	width: 100%;
	height: 60px;
}
.div21{
	width: 75%;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	 font-family:  "新宋体";
	float: left;
	padding-left: 5%;
}
a{
	text-decoration:none;
}
.div22{
	width: 20%;
	height: 60px;
	float: right;
}
.right-arrow1{
	background:  url(../img/RightArrow.png) no-repeat;
	background-position:center center;
	height:60px;
	width:20%;
	border: none;
	float:right;
	padding-right: 35%;
	outline:none;
}
.div3{
	background: #D4D4D4;
	width: 100%;
	height:15px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.div4{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.div41{
	width: 75%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	 font-family:  "新宋体";
	float: left;
	padding-left: 5%;
}

.div42{
	width: 20%;
	height: 40px;
	line-height: 60px;
	float: right;
}
.right-arrow{
	background:  url(../img/RightArrow.png) no-repeat;
	background-position:center center;
	height:40px;
	width:20%;
	border: none;
	float:right;
	padding-right: 35%;
	outline:none;

}
.div5{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.div51{
	width: 75%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	 font-family:  "新宋体";
	float: left;
	padding-left: 5%;
}

.div52{
	width: 20%;
	height: 40px;
	line-height: 60px;
	float: right;
}
.right-arrow{
	background:  url(../img/RightArrow.png) no-repeat;
	background-position:center center;
	height:40px;
	width:20%;
	border: none;
	float:right;
	padding-right: 35%;

}
.div6{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.div61{
	width: 75%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	 font-family:  "新宋体";
    color: #000000;
	float: left;
	padding-left: 5%;
}

.div62{
	width: 20%;
	height: 40px;
	line-height: 60px;
	float: right;
}
.right-arrow{
	background:  url(../img/RightArrow.png) no-repeat;
	background-position:center center;
	height:40px;
	width:20%;
	border: none;
	float:right;
	padding-right: 35%;

}
.div7{
	background: #D4D4D4;
	width: 100%;
	height:20px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#div8{
	width: 100%;
	height: 30px;

}
#content{
	width: 100%;
	height: 95%;
	/*margin-left: 4%;
	margin-right: 4%;*/
	border-radius: 8px; 
	background: #10a2cd;
	font-size: 14px;
	color: #ffffff;
}
#content:hover{
	background: #87bff0;
}

 #hidebg { 
 	position:absolute;
 	left:0px;
 	top:0px;
     background-color:#000;
     width:100%; /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
     filter:alpha(opacity=60);  /*设置透明度为60%*/
     opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
     display:none;
     z-Index:2;
     }
#hidebox {
    position:absolute;
    width:150px;
    height:100px;
     left:0;
     right:0;
     top: 30%;
    bottom: 0;
    margin: 0 auto;
    display:none;
    cursor:pointer;
    z-Index:3;}
#content {
	outline:none;
   	text-align:center;
   	cursor:pointer;
   	z-Index:1;}
.bt1{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px; 
	outline:none;
	width: 100%;
	height: 50%;
	border: none;
	background: #ffffff;
}
.bt2{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	 border-bottom-right-radius:8px;  
    border-bottom-left-radius:  8px;
	outline:none;
	width: 100%;
	height: 50%;
	background: #ffffff;
	border: none;
}
